.cart-header {
    padding-top: .5rem;
}

.orders {
    margin-top: .2rem;
}

.orders-heading, .orders-total {
    width: 100%;
    max-width: 600px; 
}

.orders-heading {
    border-bottom: 2px solid #000;
    margin: 2rem 0 4.5rem 0 ;
    font-size: clamp(1.7rem, 2.3vw, 2.8rem)
}
.orders-menu {
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 5rem 2rem;
}

@media (max-width: 992px){
    .orders-menu  {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px){
    .orders-menu  {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px){
    .orders-menu  {
        grid-template-columns: 1fr;
    }
}

.orders-total {
    border-bottom: 2px solid #000;
    text-align: right;
    margin-left: auto;
    margin-top: 3rem;
}