.item {
    width: 171px;
    padding: 0 .8rem .8rem .8rem;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgb(196, 189, 189);
}


.item img {
    margin-top: -3.5rem;
    height: 130px;
    object-fit: contain;
}

.item-head-desc {
    text-align: left;
    flex: 1;
    margin-top: 1rem;
    margin-bottom:.5rem;
    display: flex;
    flex-direction: column;
}

.item-head-desc p{
    margin-top: .5rem;
}

.head-desc-name {
    text-align: right;
    font-weight: 600;
    font-size: .9rem;
    text-transform: capitalize;
    flex: 1;
}

.head-desc-info {
    text-align: justify;
    font-size: .87rem;
    color: #494949a0;
}

.item-footer-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-desc-price {
    font-weight: 500;
    font-size: 14px;
}

@media (max-width: 400px) {
    .item {
        width: 200px;
    }
}