.btnAddRemove {
    display: flex;
    align-items: center;
    width: 55px;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
    font-size: .6rem;
    background-color: #000;
    color: #fff;
}

.btnAddRemove button {
    font-weight: 500;  
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
}

.add {
    font-size: 14px;
}

.addRemove {
    font-size: 14px!important;
}

.counter {
    margin: 0 5px;
    font-size: 14px;
}
