main {
    padding-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 5rem 2rem;
}

@media (max-width: 992px){
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 600px){
    main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px){
    main {
        grid-template-columns: 1fr;
    }
}