header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0.5rem;
  height: 100vh;
}
.header-img-top {
  display: none;
}
.header-img {
  width: 100%;
  align-self: center;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.content-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.content-main h1 {
  font-size: clamp(1.3rem, 2.7vw, 3rem);
  margin-bottom: 1.5rem;
}

.content-main button {
  background-color: #000;
  color: #fff;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  outline: none;
  border: none;
  font-size: 1rem;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  cursor: pointer;
  margin-top: 2.5rem;
  transition: all 0.2s ease;
}

.content-main button:hover {
  background-color: rgb(233, 59, 59);
}

.content-main p {
  font-weight: 500;
  font-size: 17px;
}

@media(max-width:992px){
    header {
        height: 80vh
    }
}

@media (max-width: 800px) {
  header {
    height: 65vh;
  }

  .content-main p {
    font-size: 0.8rem;
  }

  .content-main button {
    font-size: 0.8rem;
    width: 150px;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
  }
}

@media (max-width: 400px) {
  header {
    margin-bottom: 4rem;
    grid-template-columns: 1fr;
  }
  .img-container {
    margin: 2rem auto;
  }
  .header-img-top {
    display: block;
    object-fit: contain;
    width: 200px;
  }
  .header-img {
    display: none;
  }
}
