* {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  font-family: "Vazir";
}

button {
  font-family: "vazir";
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 95%;
}