footer {
    display: flex;
    border-top: 1px solid #000;
    margin-top: 3rem;
    padding: 2rem 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

footer p {
    font-weight: 500;
    max-width: 600px;
    margin-right: .5rem;
    text-align: justify;
}

footer h5 {
    position: absolute;
    bottom: 0;
    left: 41%;
}

footer h5 span {
    color: red;
}


@media (max-width: 768px) {
    footer p {
         font-size: .8rem;
         margin: 0 20px;
    }
}
@media (max-width: 576px) {
    footer p {
         font-size: .7rem;
         margin: 0 20px;
    }
}

@media (max-width: 400px) {

    footer{
        flex-direction: column;
    }

    footer p {
         font-size: .7rem;
         margin-bottom: 20px;
    }
}